*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '微软雅黑';
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
$color:#4B4A63;
.block{
    margin-top: 30px;
}

.formBox{
    width: 55%;
    margin: 0 auto;
}
